

#title {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:black;
    border-radius: 10px;
}

button {
    color: blue;
    align-self: center;
    box-sizing:border-box;
}

p {
    margin-left: 50; 
    color: black;
}

#increment-text {
    color: blue;
    text-align: center;
    margin:auto;

    justify-content: center;
    display: flex;

}